# Python
backend/venv/
backend/.env
__pycache__/
*.pyc

# Fichiers temporaires de traitement audio
backend/tmp/

# Node / Vue
frontend/node_modules/
frontend/dist/

# Fichiers système
.DS_Store
Thumbs.db

# Editeurs
.vscode/
.idea/